body {
    background-color: rgb(201, 237, 252, 0.2) !important;
    position: relative;
}

/* section {
    padding-bottom: 200px;
} */

.flex{
    display: flex;
    justify-content: center;
}
.menu {
    margin: 10px 0px;
}

.menu ul {
    display: flex;
    width: 100%;
}

.menu li {
    list-style: none;
    margin: 5px;
    font-family:cursive;
}

.menu a {
    text-decoration: none;
    color: skyblue;
    text-shadow: 4px 1px 5px lightyellow;
    padding: 10px;
}

.sp-on{
    display: none;
}

.preface {
    text-align: center;
    font-size: 20px;
    line-height: 50px;
    color:white;
    font-family: monospace;
    text-shadow: 1px 0px 10px #907922;
    font-weight: bold;
    background: linear-gradient(#a3f2ff, #fdf9d8c4);
    max-width: 800px;
    border-radius: 10px;
    margin-top: 30px;
    padding: 20px;
}

.typ {
    opacity: 0;
    padding: 10px;
}

.typ span {
    opacity: 0;
}
a:hover {
    color: rgb(11, 56, 153);
}

.panda {
    animation: panda 1.1s linear 0s 1;
    margin:0px;
}

.panda3{
    display: none;
}

@keyframes panda {
    0%   { transform: scale(0.8, 1.4) translate(0%, -100%); }
    10%  { transform: scale(0.8, 1.4) translate(0%, -15%); }
    20%  { transform: scale(1.4, 0.6) translate(0%, 30%); }
    30%  { transform: scale(0.9, 1.1) translate(0%, -10%); }
    40%  { transform: scale(0.95, 1.2) translate(0%, -30%); }
    50%  { transform: scale(0.95, 1.2) translate(0%, -10%); }
    60%  { transform: scale(1.1, 0.9) translate(0%, 5%); }
    70%  { transform: scale(1.0, 1.0) translate(0%, 0%); }
    100% { transform: scale(1.0, 1.0) translate(0%, 0%); }
}

.section h1 {
    font-size: 25px;
    text-align: center;
    font-family: serif;
    color: skyblue;
}

.contents {
    text-align: center;
    padding: 100px;
    border-radius: 30px;
    padding-top: 0px;
    padding-bottom: 10px;
}

.contents a {
    font-size: 25px;
    text-decoration: none;
    color: #33aadb;
    font-family: monospace;
    border: solid;
    padding: 10px;
}

.contents a:hover{
    background-color:lightyellow;
}

.contents img {
    width: 400px;
    padding-bottom: 20px;
}

.cording {
    font-weight: bold;
    color: #33aadb;
    width: 500px;
    margin: auto;
    margin-top: 100px;
}

.cacao,.Takara,.myself,.kamepan,.redbike,.tanshin{
    margin-top: 100px;
    font-weight: bold;
    color: #33aadb;
    display: flex;
}
.gamename h2 {
    background: #dfefff;
    box-shadow: 0px 0px 0px 5px #dfefff;
    border: dashed 2px white;
    padding: 0.2em 0.5em;
}
.section p{
    font-size: 20px;
    margin-left: 150px;
    line-height: 40px;
    color: black;
    font-weight: 100;
    text-align: start;
    margin-top: 50px !important;
    background: lightgoldenrodyellow;
    padding: 30px;
    border-radius: 10px;
}
.mb-3 {
    height: 55px;
}

.form-select-lg {
    font-size: 1rem;
}

.section h2 {
    margin-bottom: 30px;
}

.gamename a {
    color: darkblue;
    text-decoration: none;
    border: none;
}

.gamename a:hover {
    background: #F4FBFE;
}
.gamename a {
    position: relative;
    display: inline-block;
    text-decoration: none;
}
.gamename a::after {
    position: absolute;
    bottom: -4px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background:darkblue;
    transform: scale(0, 1);
    transform-origin: center top;
    transition: transform .3s;
 }
.gamename a:hover::after {
    transform: scale(1, 1);
 }
.demo{
    -webkit-transform: translate(0, 0)  scale(0.5);
    opacity: 0;
}
.demo.move{
    -webkit-transition: all 1s;
    -webkit-transform: scale(1.0);
    opacity: 1;
}
.demo{
    transition: .5s ease-in-out ;
}

.box{
    transition: .5s ease-in-out ;
}
.scrollpanda {
    position: absolute;
    width: 120px;
    height: 120px;
    background-image: url("../img/scroll-panda3.png");
    background-size: contain;
    background-repeat: no-repeat;
    bottom: 55px;
    right: 0;
}
@media screen and (max-width:850px) {
    .menu a {
        font-size: 30px;
    }
}
@media screen and (max-width:700px){
    #menu-btn-check:checked~.menu-content {
        position: relative;
        right: 60px;
        top: 50px;
    }
    .sp-on{
        display: block;
        display: flex;
    }
    .panda{
        height: 160px !important;
        margin: auto !important;
    }
    .menu,.flex{
        display: none;
    }
    #menu-btn-check:checked~.menu-btn span {
        background-color: rgba(255, 255, 255, 0);
    }
    #menu-btn-check:checked~.menu-btn span::before {
        bottom: 0;
        transform: rotate(45deg);
    }
    #menu-btn-check:checked~.menu-btn span::after {
        top: 0;
        transform: rotate(-45deg);
    }
    .menu-btn {
        display: flex;
        height: 60px;
        width: 60px;
        justify-content: center;
        align-items: center;
        z-index: 90;
    }
    .menu-btn span, .menu-btn span:before, .menu-btn span:after {
        content: '';
        display: block;
        height: 3px;
        width: 25px;
        border-radius: 3px;
        background-color:lightblue;
        position: absolute;
    }
    .menu-btn span:before {
        bottom: 8px;
    }
    .menu-btn span:after {
        top: 8px;
    }
    #menu-btn-check {
        display: none;
    }
    .menu-content {
        width: 100%;
        height: 100%;
        position: fixed;
        right: 100%;
        /*leftの値を変更してメニューを画面外へ*/
        transition: all 0.5s;
        /*アニメーション設定*/
        background-color:lightblue;
        padding:20px;
        margin-bottom: 30px;
    }
    .menu-content ul {
        padding: 5px 0px 0;
        margin-left: 30px;
        list-style: none;
    }
    .menu-content ul li {
        border-bottom: solid 1px #ffffff;
    }
    .menu-content ul li a {
        display: block;
        width: 100%;
        font-size:20px;
        font-weight: bold;
        font-family:auto;
        box-sizing: border-box;
        color: #ffffff;
        text-shadow: 6px 1px 10px #3f51b5;
        text-decoration: none;
        padding: 15px 15px 10px 0;
        position: relative;
    }
    .menu-content ul li a::before {
        content: "";
        width: 7px;
        height: 7px;
        border-top: solid 2px #ffffff;
        border-right: solid 2px #ffffff;
        transform: rotate(45deg);
        position: absolute;
        right: 11px;
        top: 16px;
    }
    .menu-content ul li a:hover {
        color:white;
    }
    header{
        display: flex;
    }
    .preface {
        max-width:460px !important;
    }
}
@media screen and (max-width:600px) {
    .contents a {
        font-size: 20px;
    }
    .menu li{
        font-family:serif;
    }
    .cording{
        width:auto;
    }
    .section p{
        margin: 30px 0px !important;
    }
    .contents{
        padding:45px;
    }
}

@media screen and (max-width:465px) {
    .menu-content{
        margin-bottom: 95px;
    }
    .contents {
        padding: 0px;
        margin-top:30px;
    }
    .contents a {
        font-size: 16px;
    }
    .contents img {
        width: 200px;
        margin: auto;
        margin-bottom: 20px;
    }
    .form-select-lg {
        font-size: 1rem;
        width: 200px;
        margin: auto;
    }
    .menu {
        padding: 0px;
    }
    .panda2{
        display: none;
    }
    .panda3{
        display: block;
    }
    .preface {
        max-width: 275px !important;
        margin: auto;
        margin-bottom:50px;
    }
    .mb-3 {
        max-width: 270px;
    }
    .typ {
        padding:10px;
    }
    .panda{
        margin-bottom: 50px;
    }
    .section p{
      margin:30px 15px !important;  
      font-size: 15px;
    }
    .gamename h2{
        margin: 0px 15px;
    }
    .contents img{
        width: 300px;
    }
}
@media screen and (min-width:850px) {
    .menu li {
        padding: 15px;
        font-size: 30px;
    }
}

@media screen and (min-width:1500px) {
    .menu li {
        padding: 15px;
    }
    .contents a {
        font-size: 30px;
    }
    .form-select-lg {
        font-size: 2rem;
    }
    .mb-3 {
        height: 80px;
        width: 500px !important;
        margin: auto;
    }
    .preface {
        font-size: 30px;
    }
}
@media screen and (max-width:1200px){
    .flex2{
        display: block;
    }
    .section p{
        margin: 30px;
    }
    .contents img{
        margin: auto;
    }
}
@media screen and (max-width:1000px){
    .preface{
        max-width:650px;
    }
    .flex{
        max-width: 700px;
        margin: auto;
    }
    .panda{
        height: 100px;
        margin-left: 40px;
        margin-top: 20px;
    }
}

@media screen and (max-width:750px){
    .panda{
        margin-left: 0px;
    }
    .flex{
        max-width: 650px;
    }
    .panda{
        height: 120px;
        padding:15px;
    }
    .menu a{
        font-size: 25px;
    }
}
@media screen and (max-width:500px){
    .scrollpanda{
        width:100px;
        height: 100px;
        bottom: 0px;
    }
}
@media screen and (max-width:300px){
    .contents img{
        width: 270px;
    }
    .section p{
        line-height: 30px;
    }
}
@media screen and (min-width:700px){
    .menu ul{
        padding: 10px;
     margin: 0px;
    }
}
@media screen and (min-width:850px){
    .menu a{
        padding: 0px;
    }
}