.wrap {
    max-width: 780px;
    margin: 0 auto;
}

header h1 {
    text-align: center;
    padding: 20px;
    font-family: sans-serif;
    margin: 0px;
    font-size: 30px;
    color:black;
}

header {
    background: lightskyblue;
    width: 100%;
    position: fixed;
}

section {
    padding-top: 200px;
    padding-bottom: 210px;
}

.picture {
    display: flex;
    margin: auto;
    margin-top:100px;
    justify-content: center;
}

.picture img {
    margin: auto;
}

.picture h1 {
    width: 230px;
    font-family: monospace;
    color: plum;
    text-shadow: 3px 1px 4px skyblue;
    padding-top: 10px;
    font-size: 30px;
    margin: auto;
    text-align: center;
}

.otukimi,.forest,.rain,.sea,.winter {
    margin-right: 100px;
    text-align: center;
}

.fancy img {
    width: 400px;
}

.fancy {
    text-align: center;
    margin-right: 100px;
}

#hover:hover {
    width: 450px;
    height: 250px;
    text-shadow: 2px 2px 2px #ddd;
}

.hover2:hover{
    width: 350px;
}

.menu {
    background: lightskyblue;
    text-align: center;
    padding: 30px;
    font-size: 20px;
    background:#e0f4ff;
}

.right {
    margin-right:90px;
}

a {
    color:#1a145f;;
    text-decoration: none;
    font-size: 20px;
}

a:hover {
    /* background: linear-gradient(transparent 70%, rgb(196, 234, 248) 50%); */
    background: linear-gradient(transparent 70%, yellow 50%);
}

.scrollpanda {
    position: absolute;
    width: 120px;
    height: 120px;
    background-image: url("../img/scroll-panda.png");
    background-size: contain;
    background-repeat: no-repeat;
    right: 0;
}

@media screen and (max-width:1000px) {
    .picture {
        display: block;
    }
    .picture h1 {
        width: 500px;
        font-size: 40px;
        padding-top: 35px;
        margin-bottom: 100px;
    }
    .otukimi,.forest,.rain,.sea,.winter {
        margin-right: auto;
    }
    .fancy {
        margin-right: auto;
    }
    #hover:hover {
        pointer-events: none;
    }
}

@media screen and (min-width:1000px) {
    .wrap{
        max-width: 950px;
    }
    section {
        padding-bottom: 150px;
    }
    .right{
        margin-right: 100px;
    }
    .picture{
        display: block;
    }
    .flex{
        display: flex;
        margin-bottom: 50px;
    }
}

@media screen and (max-width:760px){
    .right{
        margin-right: 25px;
    }
}

@media screen and (max-width:600px){
    .picture img{
        width: 300px;
    }
    .picture h1{
        font-size: 40px;
    }
}

@media screen and (max-width: 540px) {
    section{
        padding-top: 100px;
    }
    header h1 {
        font-size: 30px;
    }
    .picture img{
        width: 200px;
    }
    .picture h1{
        font-size: 30px;
        width: 220px;
    }
    .menu{
        padding: 5px !important;
    }
    #hover:hover{
        width: 300px;
    }
}

@media screen and (max-width:320px) {
    section{
        padding-top: 150px;
    }
}

@media screen and (min-width:1300px){
    .wrap {
        max-width: 1200px;
    }
}

@media screen and (min-width:2000px){
    .wrap {
        max-width: 1900px;
    }
    header h1{
        font-size: 60px;
    }
    .menu{
        padding: 50px;
    }
    a{
        font-size: 40px;
    }
    .picture{
        margin-top: 250px;
    }
    .picture h1{
        font-size: 50px;
        width: 500px;
    }
}