body {
    position: absolute;
    width: 100%;
}

section {
    margin-bottom: 200px;
    text-align: center;
    font-family: serif;
    background-color: #ffffe059;
    padding-bottom: 150px;
}

section h1 {
    margin-bottom: 50px;
    padding-top: 100px;
    font-size: 45px;
}

.panda {
    color: #ff0000ab;
    font-size: 40px;
    font-family: monospace;
}

.margin {
    padding-left: 50px;
}

section span {
    padding: 10px;
    background-color: #ddd;
}

.mozi {
    width: 100%;
}

.mozi p {
    font-size: 25px;
}

table {
    font-size: 25px;
    text-align: left;
    margin: auto;
}

section img {
    display: initial;
    max-width: 70%;
}

.title {
    line-height: 70px;
}

header {
    width: 100%;
    height: 650px;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

header h1 {
    font-family: sans-serif;
    color: white;
    text-align: center;
    font-weight: bold;
    background: #ae7a7a;
    border-radius: 45%;
    width: 200px;
    padding: 20px;
    margin: auto;
    margin-top: 50px;
    border: solid 5px;
    border-style: double;
}

header img {
    object-fit: contain;
}

#menu-btn-check:checked~.menu-btn span {
    background-color: rgba(255, 255, 255, 0);
}

#menu-btn-check:checked~.menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
}

#menu-btn-check:checked~.menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
}

.menu-btn {
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    background-color: orange;
}

.menu-btn span, .menu-btn span:before, .menu-btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #ffffff;
    position: absolute;
}

.menu-btn span:before {
    bottom: 8px;
}

.menu-btn span:after {
    top: 8px;
}

#menu-btn-check {
    display: none;
}

.menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    right: 100%;
    /*leftの値を変更してメニューを画面外へ*/
    transition: all 0.5s;
    /*アニメーション設定*/
    background-color: #f1eab2ad;
}

#menu-btn-check:checked~.menu-content {
    right: 0;
    /*メニューを画面内へ*/
}

.menu-content ul {
    padding: 70px 10px 0;
    margin-left: 30px;
    list-style: none;
}

.menu-content ul li {
    border-bottom: solid 1px #ffffff;
}

.menu-content ul li a {
    display: block;
    width: 100%;
    font-size: 25px;
    font-weight: bold;
    font-family: sans-serif;
    box-sizing: border-box;
    color: #ffffff;
    text-shadow: 6px 1px 10px orange;
    text-decoration: none;
    padding: 15px 15px 10px 0;
    position: relative;
}

.menu-content ul li a::before {
    content: "";
    width: 7px;
    height: 7px;
    border-top: solid 2px #ffffff;
    border-right: solid 2px #ffffff;
    transform: rotate(45deg);
    position: absolute;
    right: 11px;
    top: 16px;
}

.menu-content ul li a:hover {
    color: #a26305;
}

.information {
    background: #fdfdf3;
    height: 700px;
}

footer {
    background: #ecdfcd;
    padding: 30px;
    text-align: center;
    color: #9e9e9e;
    font-size: 20px;
}

footer p {
    margin-bottom: 0px;
}

.footermenu ul {
    display: flex;
    list-style: none;
    font-size: 18px;
}

.footerbtn {
    margin-right: 30px;
}

.footerbtn2 {
    justify-content: center;
}

.footermenu a {
    text-decoration: none;
    color: #222
}

.footerbtn2 a:hover {
    color: chocolate;
}

.icon img {
    width: 50px;
    height: 50px;
}

.right {
    margin-right: 50px;
}

.icon {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.sp-on {
    display: none;
}

#page-top {
    width: 60px;
    height: 60px;
    position: fixed;
    right: 0;
    bottom: 0;
    background: orange;
    opacity: 0.6;
    border-radius: 50%;
    margin-bottom: 100px;
    margin-right: 20px;
}

#page-top a {
    display: block;
    width: 90px;
    height: 90px;
    text-decoration: none;
}

#page-top a::before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f102';
    font-size: 25px;
    color: #fff;
    position: absolute;
    width: 25px;
    height: 25px;
    top: -20px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
}

#page-top a::after {
    content: 'PAGE TOP';
    font-size: 10px;
    color: #fff;
    position: absolute;
    top: 37px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
}

@media screen and (max-width:600px) {
    header {
        height: 300px;
    }
    footer p {
        font-size: 15px;
    }
    #page-top {
        display: none !important;
    }
}

@media screen and (max-width:380px) {
    body {
        width: auto;
    }
}

@media screen and (min-width:600px) {
    header h1 {
        font-family: sans-serif;
        color: white;
        text-align: center;
        font-weight: bold;
        background: #ae7a7a;
        border-radius: 45%;
        width: 450px;
        padding: 45px;
        margin: auto;
        margin-top: 150px;
        font-size: 40px;
    }
}

@media screen and (min-width:2000px) {
    header h1 {
        width: 700px;
        height: 200px;
        font-size: 70px;
        margin-top: 80px;
    }

    .menu-content ul li a{
        font-size: 50px;
    }
    
    .menu-btn {
        height: 150px;
        width: 150px;
    }
    .menu-btn span, .menu-btn span:before, .menu-btn span:after {
        width: 60px;
    }
    .menu-btn span:before {
        bottom: 20px;
    }
    .menu-btn span:after {
        top: 20px;
    }
    .footermenu ul {
        font-size: 40px;
        margin-top: 100px;
    }
    .footerbtn {
        margin-right: 160px;
    }
    .icon img {
        width: 100px;
        height: 100px;
    }
    .right {
        margin-right: 100px;
    }
    #page-top a::after {
        font-size: 20px;
        bottom: 30px;
        top: auto;
    }
    #page-top a::before {
        font-size: 50px;
        top: -80px;
    }
    #page-top {
        width: 150px;
        height: 150px;
    }
}

@media screen and (min-width:1300px) {
    .title {
        display: flex;
        justify-content: center;
    }
    .mozi {
        margin-top: 0px;
        width: 600px;
    }
    .margin {
        padding-left: 50px;
    }
    section img {
        display: initial;
        max-width: 70%;
        height: 70%;
        margin-top: 200px;
    }
}

@media screen and (min-width:2000px) {
    section h1 {
        font-size: 70px;
    }
    .panda {
        font-size: 60px;
    }
    .mozi p {
        font-size: 45px;
    }
    table {
        font-size: 45px;
        padding-top: 50px;
        line-height: 150px;
    }
    section span {
        padding: 15px;
    }
    section img{
        margin-top: 400px;
        margin-right: 100px;
    }
    section{
        padding-bottom: 250px;
    }
}

@media screen and (max-width:500px) {
    section h1 {
        font-size: 35px;
    }
    .panda {
        font-size: 30px;
    }
    .mozi p {
        font-size: 20px;
    }
    table {
        font-size: 20px;
    }
    section span {
        padding: 7px;
    }
}

@media screen and (max-width:340px) {
    section h1 {
        font-size: 23px;
        margin-bottom: 15px;
        padding-top: 50px;
    }
    .panda {
        font-size: 20px;
    }
    .mozi p {
        font-size: 18px;
    }
    table {
        font-size: 15px;
    }
    section span {
        padding: 5px;
    }
    section {
        padding-bottom: 50px;
    }
}